<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= react_component("FeedForm", {feed: @feed, authenticityToken: form_authenticity_token }) %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div id="feeds" class="row">
      <%= render partial: 'feeds/components/feed', collection: @feeds  %>
      <%= will_paginate @feeds %>
    </div>
  </div>

  <%#= react_component("add_feed_button") %>
  <%#= react_component("Feeds", {feeds: @all_feeds, articles: @all_articles}) %>
  <%#= react_component("Articles", articles: @all_articles) %>
  <%#= react_component("Feed", feeds: @all_feeds) %>
  <% console %>
</div>
