// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#feeds {
  padding-bottom: 100px;
}

.feed-title {
  font-size: 1.3rem;
}

.error {
  border: 1px solid red;
}

.articles {
  height: 70vh;
}
